<h4>Steps</h4>

<div class="row">
  <div class="col s12">
    {{#sortable-group tagName="div" onChange="reorderSteps" as |group|}}
      {{#each sortedSteps as |step|}}
	{{#sortable-item tagName="div" model=step group=group spacing=15}}
	  {{#md-card title=step.title}}
	    <span class="dragable"><i class="material-icons">swap_vert</i></span>
	    {{md-badge text=step.code}}
	    {{#md-card-content}}
	      {{step.description}}
	    {{/md-card-content}}
	    {{#md-card-action}}
	      <a {{action 'delete' step}}>Delete</a>
	    {{/md-card-action}}
	  {{/md-card}}
	{{/sortable-item}}
      {{/each}}
    {{/sortable-group}}

    <span {{action 'newStep'}}>
    {{#md-card class="new-step" title="New step"}}
      {{md-badge text="step_code"}}
      {{#md-card-content}}
	Step description
      {{/md-card-content}}
      {{#md-card-action}}
	<a class="disabled">Delete</a>
      {{/md-card-action}}
    {{/md-card}}
    </span>
    
  </div>
</div>

